In [2]:
import pandas as pd

In [4]:
# Especifica la ruta de tu archivo Excel
ruta_excel = 'data/cdro_G8.xlsx'

# Carga el archivo Excel
archivo_excel = pd.ExcelFile(ruta_excel)

# Extrae los nombres de todas las hojas
nombres_de_pestañas = archivo_excel.sheet_names

# Imprime los nombres de todas las hojas
print(nombres_de_pestañas)

['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']

In [ ]:
# Lee la hoja específica del archivo Excel y carga los datos en un DataFrame
nombre_hoja = 'nombre_de_tu_hoja'
df = pd.read_excel(ruta_excel, sheet_name=nombre_hoja)

In [35]:
# Itera sobre los nombres de las hojas y carga cada una en un DataFrame
dataframes = {}
for nombres_de_pestañas in archivo_excel.sheet_names:
    df = pd.read_excel(archivo_excel, sheet_name=nombres_de_pestañas, skiprows=4, usecols=lambda x: 'Unnamed' not in x)  # Comienza desde la fila 5
    df = df.iloc[3:]  # Elimina las primeras 3 filas
    dataframes[nombres_de_pestañas] = df
    # Encuentra la última fila que contiene la palabra "TOTAL" en la primera columna
    indice_total = df[df.iloc[:, 0].str.contains('TOTAL', na=False)].index.max()

    # Si no encuentras la palabra "TOTAL", el índice será NaN, lo cual debería manejarse
    if pd.isnull(indice_total):
        print("No se encontró la palabra 'TOTAL' en la primera columna.")
    
    else:
    # Elimina todas las filas debajo de la última fila que contiene la palabra "TOTAL"
        df = df.iloc[:indice_total + 1]

No se encontró la palabra 'TOTAL' en la primera columna.
No se encontró la palabra 'TOTAL' en la primera columna.
No se encontró la palabra 'TOTAL' en la primera columna.
No se encontró la palabra 'TOTAL' en la primera columna.
No se encontró la palabra 'TOTAL' en la primera columna.
No se encontró la palabra 'TOTAL' en la primera columna.
No se encontró la palabra 'TOTAL' en la primera columna.
No se encontró la palabra 'TOTAL' en la primera columna.

In [36]:
dataframes['2012'].tail(8)

,PAÍS DESTINO / SUBPARTIDA NACIONAL,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre,TOTAL
2683,BELARUS,0.0,0.0,0.0,0.0,0.0,1399.0,0.0,0.0,0.00,0.0,0.0,0.0,1399.00
2684,TOTAL BELARUS,0.0,0.0,0.0,0.0,0.0,1399.0,0.0,0.0,0.00,0.0,0.0,0.0,1399.00
2685,KENIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,962.66,0.0,0.0,0.0,962.66
2686,TOTAL KENIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
2687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2688,Nota 1. Se consideran las exportaciones regula...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2689,Fuente: Superintendencia Nacional de Aduanas ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2690,Elaboración: SUNAT - Oficina Nacional de Plane...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN